:root {
  --line-thickness: 0.1rem;
  --main-colour: #eeeeee;
  --background-colour: #0a0a0a;
  --emoji-box-size: 10rem;
}

body {
  font-family: "Inconsolata", "Consolas", "DejaVu Sans Mono", "Droid Sans Mono",
    "FreeMono", "Monaco", "SF Mono", monospace;
  background-color: var(--background-colour);
  color: var(--main-colour);
  font-size: 18px;
  line-height: 1.75em;
  font-weight: 500;
}

h1,
h2,
h3,
h4 {
  font-weight: 700;
}

h1 {
  font-size: 1.75rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 1rem;
}

img {
  max-width: 100%;
  height: auto;
}

blockquote {
  margin: 1rem;
  padding-left: 1rem;
  border-left: var(--line-thickness) solid var(--main-colour);
  font-size: 0.95rem;
  font-style: italic;
}

pre,
code {
  font-size: 0.95rem;
  line-height: 1.4rem;
}

.box,
pre {
  border: var(--line-thickness) solid var(--main-colour);
  padding: 1rem;
  margin: 1.5rem;
}

.box.project {
  display: grid;
  grid-template-columns: var(--emoji-box-size) auto;
  align-items: center;
}

div.emoji-box {
  overflow: auto;
  text-align: center;
  font-size: 5rem;
  width: var(--emoji-box-size);
  height: var(--emoji-box-size);
  float: left;
  line-height: var(--emoji-box-size);
}

h3.project-title {
  margin-top: 0;
}

.content {
  margin: 2rem auto;
  max-width: 60rem;
  padding: 2rem;
  background-color: var(--background-colour);
}

.drop-shadow {
  --drop-shadow-size: 0.5rem;
  -webkit-box-shadow: var(--drop-shadow-size) var(--drop-shadow-size)
    var(--main-colour);
  -moz-box-shadow: var(--drop-shadow-size) var(--drop-shadow-size)
    var(--main-colour);
  box-shadow: var(--drop-shadow-size) var(--drop-shadow-size) var(--main-colour);
}

hr {
  border: none;
  height: var(--line-thickness);
  background-color: var(--main-colour);
}

/* Links */
a {
  color: var(--main-colour);
  text-decoration: underline;
  text-decoration-thickness: var(--line-thickness);
}

a:hover {
  text-decoration: underline;
  text-decoration-style: dashed;
  text-decoration-thickness: var(--line-thickness);
}

a.no-underline {
  text-decoration: none;
}

a.no-underline:hover {
  text-decoration: none;
}

/* Coloured circle for each language */
span.dot {
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  display: inline-block;
}

span.dot.language-dot {
  margin-right: 0.5rem;
}

.heading {
  display: grid;
  grid-template-columns: auto 10rem;
}

.heading > h1 {
  align-self: end;
}

.heading > ul {
  list-style: none;
  padding: 0;
}

/* Footer */
.footer {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  font-size: 0.9rem;
}
