@use "sass:math";

$line-thickness: 0.1rem;
$main-colour: #d3d3d3;
$background-colour: #0e0e0e;
$mobile-breakpoint: 960px;

@mixin desktop {
  @media screen and (min-width: $mobile-breakpoint) {
    @content;
  }
}

@mixin mobile {
  @media screen and (max-width: $mobile-breakpoint) {
    @content;
  }
}

html {
  font-family: "Inconsolata", "Consolas", "DejaVu Sans Mono", "Droid Sans Mono",
    "FreeMono", "Monaco", "SF Mono", monospace;
  background-color: $background-colour;
  color: $main-colour;
  font-size: 20px;
  line-height: 1.6;
  font-weight: 500;
}

p {
  margin: 0.5rem 0;
}

h1,
h2,
h3,
h4 {
  font-weight: 700;
  margin-bottom: 1rem;
}

h1 {
  font-size: 1.75rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 1rem;
}

img {
  max-width: 100%;
  height: auto;
}

blockquote {
  margin: 1rem;
  padding-left: 1rem;
  border-left: $line-thickness solid $main-colour;
  font-size: 0.95rem;
  font-style: italic;
}

pre,
code {
  font-size: 0.9rem;
  line-height: 1.5;
}

.box,
pre {
  border: $line-thickness solid $main-colour;
  padding: 1rem;
  margin: 1.5rem;
}

.box.project {
  display: grid;
  align-items: center;

  @include desktop {
    $emoji-box-size: 10rem;
    min-height: $emoji-box-size;
    grid-template-columns: $emoji-box-size auto auto;
    grid-template-rows: auto auto auto;
    grid-template-areas:
      "emojiBox projectTitle projectTitle"
      "emojiBox projectDescription projectDescription"
      "emojiBox projectLanguage projectGithubButton";

    div.emoji-box {
      font-size: math.div($emoji-box-size, 2);
      width: $emoji-box-size;
      height: $emoji-box-size;
      line-height: $emoji-box-size;
    }
  }

  @include mobile {
    $emoji-box-size: 4rem;
    padding: 1rem;
    gap: 1rem;
    min-height: 10rem;
    grid-template-columns: $emoji-box-size auto;
    grid-template-rows: auto auto auto auto;
    grid-template-areas:
      "emojiBox projectTitle"
      "projectDescription projectDescription"
      "projectLanguage projectLanguage"
      "projectGithubButton projectGithubButton";

    div.emoji-box {
      font-size: math.div($emoji-box-size, 2);
      width: $emoji-box-size;
      height: $emoji-box-size;
      line-height: $emoji-box-size;
    }
  }

  div.emoji-box {
    grid-area: emojiBox;
    text-align: center;
    justify-self: center;
    align-self: center;

    a {
      text-decoration: none;
    }
  }

  h3.project-title {
    grid-area: projectTitle;
    margin: 0;
  }

  p.project-description {
    grid-area: projectDescription;
    margin: 0;
  }

  div.project-language {
    grid-area: projectLanguage;
  }

  div.project-github-button {
    grid-area: projectGithubButton;
  }
}

.content {
  margin: 2rem auto;
  max-width: 55rem;
  padding: 1rem;
  background-color: $background-colour;
}

.drop-shadow {
  $drop-shadow-size: 0.3rem;

  -webkit-box-shadow: $drop-shadow-size $drop-shadow-size $main-colour;
  -moz-box-shadow: $drop-shadow-size $drop-shadow-size $main-colour;
  box-shadow: $drop-shadow-size $drop-shadow-size $main-colour;
}

hr {
  border: none;
  height: $line-thickness;
  background-color: $main-colour;
}

// Links
a {
  color: $main-colour;
  text-decoration: underline;
  text-decoration-thickness: $line-thickness;

  &:hover {
    text-decoration: underline;
    text-decoration-style: dashed;
    text-decoration-thickness: $line-thickness;
  }

  &.no-underline {
    text-decoration: none;
  }

  &.no-underline:hover {
    text-decoration: none;
  }
}

// Coloured circle for each language
span.dot {
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  display: inline-block;

  &.language-dot {
    margin-right: 0.5rem;
  }
}

header {
  display: grid;
  grid-template-columns: auto 10rem;

  h1 {
    align-self: end;
  }

  ul {
    list-style: none;
    padding: 0;
  }
}

// Footer
footer {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  font-size: 0.9rem;
}
