:root {
  --line-thickness: 0.1rem;
  --main-colour: #eeeeee;
  --background-colour: #0a0a0a;
}
body {
  font-family: "Inconsolata", "Consolas", "DejaVu Sans Mono", "Droid Sans Mono",
    "Fira Code", "FreeMono", "Courier New", "Monaco", "SF Mono", Courier,
    monospace;
  background-color: black;
  color: white;
  font-size: 18px;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

.box {
  border: 0.1rem solid white;
  padding: 1rem;
  margin: 1rem;
}

.box-hover:hover {
  border-style: dashed;
}

.container {
  margin: 2rem auto;
  max-width: 75rem;
  padding: 2rem;
}

.drop-shadow {
  -webkit-box-shadow: 1rem 1rem white;
  -moz-box-shadow: 1rem 1rem white;
  box-shadow: 1rem 1rem white;
}

hr {
  border: none;
  height: 0.1rem;
  background-color: white;
}

/* Navbar */
nav > ul {
  list-style-type: none;
  margin: 0rem;
  padding: 0rem;
}

nav > ul > li {
  display: inline;
}

nav > ul > li:before {
  content: "‣";
  margin-left: 1rem;
  margin-right: 0.3rem;
}

nav > ul > li.selected:before {
  content: "▼";
}

/* Links */
a {
  color: white;
  text-decoration: underline;
}

a:hover {
  text-decoration: underline;
  text-decoration-style: dashed;
}

/* Not supported yet */
/* a:has(> div.box) {
  text-decoration: none;
} */

/* In the meantime use this */
.box > a {
  text-decoration: none;
  display: inline-block;
  width: 100%;
  height: 100%;
}

.box > a:hover {
  text-decoration: none;
}

.dot {
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  display: inline-block;
}
