{{ define "main" }}
<img class="central hue-shift duration-5" style="width: 40vw;" src="/images/parthenon.png">
    <img class="central" style="pointer-events:none; height: 80vh;" src="/images/me.png">
    <img class="central" style="position: absolute; transform: translate(-6vh, -10vh); height: 13vh;" src="/images/aol.png">

    <div class="central">
        <img style="position: absolute; top: 20vh; left: 20vw; width: 15vw; height: auto;" src="/images/adidas.gif">
        <img style="position: absolute; top: -20vh; left: -35vw; width: 5vw; height: auto;" src="/images/doggo.gif">
        <img style="position: absolute; top: 10vh; left: -30vw; width: 15vw; height: auto;" src="/images/skeleton.gif">
        <img style="position: absolute; top: -10vh; left: 30vw; width: 15vw; height: auto;" src="/images/palmtree.png">
        <img style="position: absolute; top: -10vh; left: -35vw; width: 10vw; height: auto;" src="/images/dorites.png">
        <h1 style="position: absolute; top: -30vh; left: -35vw;" class="central glowing-text">私も、ありがとう</h1>
        <div style="position: absolute; top: 5vh; left: -45vw;">
            <img style="position: absolute; width: 15vw; height: auto;" src="/images/bust.png">
            <img id="bustImage" style="position: absolute; top: 6vh; left: 7vw; width: 10vw; height: auto;" src="/images/90s.png">
        </div>
    </div>
    <script>
        var imageArray = ["90s.png", "wavy.jpg"];
        var basePath = "/images/";
        var rand = imageArray[Math.floor(Math.random() * imageArray.length)];
        document.getElementById("bustImage").src = basePath + rand;
    </script>
    <h1 class="central glowing-text vapourwave-text" style="color: #000000;">aesthetic</h1>
{{ end }}